# Data Types and Structures Questions

#1 What are data structures, and why are they important?
   - Data structures are the way of storing and  managing data.eg. list,string , array, tuples, set.
   - They are important due to accessed and manipulate efficiently.

# 2  Explain the difference between mutable and immutable data types with examples?
  - Mutable data types - These are those data types whose element we can add,remove on same string.In mutable data type, object whose element should we change after they were created. eg. list,set,dict.
  - Immutable data types - These are those data types whose element we can't add , remove on same string.In immutable data type, object whose element should not be changed after they were created. eg. string , tuple.

#3 What are the main differences between lists and tuples in Python?
   - Lists- It can store anything in it. it store heterogeneous data. it is a ordered collection of element.it also a mutable data type.
  - Tuples- Tuples is a unordered collection of data.it can store heterogeneous data. it cannot store duplicate data. it provide result is unique.it also a mutable data type.

#4 Describe how dictionaries store data?
   - Dictionaries is a data structure that stores data in a key values format.it is a mutable data type. keys are unique and are immutable.

#5 Why might you use a set instead of a list in Python?
   - List is a mutable data type and set is a immutable data type.so list we can change elements but in set we cannot. so basically set only store data .those data we can store it should not be changable. eg atm card number, employee id, student id etc it should be fixed not be changable . so instead of list we use set to store data permanently.

#6 What is a string in Python, and how is it different from a list?
   - Strings is a sequence of character. it can represent and manipulate textual data. it is immutable data type means it cannot changed after creation.while list are mutable data type means can change after creation and can store elements of any of data types .

#7  How do tuples ensure data integrity in Python ?
    - Because tuples are immutable data types. It means that after creation we cannot change data. So tuples ensure data integrity in Python.

#8 What is a hash table, and how does it relate to dictionaries in Python?
   - Hash table has a data structure that stores data in key value pairs and uses a hash function (convert key into index)to calculate index postion where value is stored in memory.
   - In dictionaries they also store data in key value pairs and are internally uses hash table.thats why hash table is related to dictionaries.

#9  Can lists contain different data types in Python?
    - Yes , lists contain different data types in python.

# 10 Explain why strings are immutable in Python?
     - Strings are immutable data type it means that after creation of data it should not be changed because it ensure data efficiency , performance and security to data may secure. if we modify data of string new string will be created for it .so data not change by mistake . thats why strings are immutable in python.

# 11 What advantages do dictionaries offer over lists for certain tasks?
     - dictionaries donot allow duplicate key if same key will repeat than change value of key that are in last for same key.but in list data may be changed randomly to not verify which purpose.
     - dictionaries store data for specific reason because it uses meaningfull keys rather than lists.

# 12 Describe a scenario where using a tuple would be preferable over a list?
     - We can apply for atm than fews days later our atm card ready and have number that alot for me not for other means data may be store after creation we cannot change that represent a tuple but in list it should we created after we can change data so it efficiency , performance or security may reduce due to they are mutable . so thats why tuple are preferable over list for fix data entery.

#13 How do sets handle duplicate values in Python?
    - Sets is a data structure that can store unordered sequence of data and unique element. if duplicate values may be repeated that sets apply for provide unique result it means repeated data written only in once.

#14 How does the “in” keyword work differently for lists and dictionaries?
    - "in" keyword used in lists for know that data are present in list or not . it provide result in boolean value may be True or False based on condition.
    - "in" keyword used in dictionaries ,to ensure that key are present or not if than result in boolean value may be true or false .it should not used for values of keys.

#15 Can you modify the elements of a tuple? Explain why or why not?
    - No, we cannot modify the element of a tuple because it doesnot support item assignemnt.Due to ensure for efficieny , accuracy , performance and security. Once the data is stored it should not be changeable. it is immutable.

#16 What is a nested dictionary, and give an example of its use case?
    - Nested dictionary are those dictionary that can store more than one dictionary as values.
    - eg {1:{"ram":1 ,"aman":2}}

#16 Describe the time complexity of accessing elements in a dictionary?
    - The time complexity is O(1)
    - because it directly convert key into index using a hash function.it means that we can have 10 or 10 millions items we can only apply their key once it directly convert to index to where value is stored in memory to access. single item scan.

#18 In what situations are lists preferred over dictionaries?
    - where we can store any element of any data type so we use lists.it is a ordered collection of data. it store heterogeneous data but in dictionaries we can  store data in key values pair for use dictionary in meaningfull description for keys.

#19 Why are dictionaries considered unordered, and how does that affect data retrieval?
   - Dictioanries considered unordered because they store data in keys format not in position ie numercially.They also affect data retrieval because we can access values through keys not by position numerically.

#20 Explain the difference between a list and a dictionary in terms of data retrieval?
    - In list, the data retrieval can access elements through index position numerically.it can accessed in ordered sequence of element.
    - In dictionary, the data retrieval can access values through keys not by index position. Thats why it is a unordered sequence of element because it can access by key not index position.

#Practical Questions

In [ ]:
#1 Write a code to create a string with your name and print it?
name="seeraj dogra"
print("My name is ",name)

My name is  seeraj dogra

In [ ]:
#2 Write a code to find the length of the string "Hello World"?
a="Hello World"
len(a)

11

In [ ]:
#3 Write a code to slice the first 3 characters from the string "Python Programming"?
a="Python Programming"
a[0:4]

'Pyth'

In [ ]:
#4  Write a code to convert the string "hello" to uppercase?
a="hello"
a.upper()

'HELLO'

In [ ]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"?
a="I like apple"
a.replace("apple","orange")

'I like orange'

In [ ]:
#6 Write a code to create a list with numbers 1 to 5 and print it?
a=[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [ ]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]?
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
a=[1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [ ]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
a=['a','b','c','d']
a[1]

'b'

In [ ]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50]?
a=[10,20,30,40,50]
a[::-1]

[50, 40, 30, 20, 10]

In [ ]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it?
a=(100,200,300)
print(a)

(100, 200, 300)

In [ ]:
 #12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?
 a=('red','green','blue','yellow')
 a[-2]

'blue'

In [ ]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
a=(10,20,5,15)
min(a)

5

In [ ]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?
a=('dog','cat','rabbit')
a.index("cat")

1

In [ ]:
#15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?
a=("apple","mango","kiwi")
"kiwi" in a

True

In [ ]:
#16 Write a code to create a set with the elements 'a', 'b', 'c' and print it?
a={'a','b','c'}
print(a)

{'b', 'c', 'a'}

In [ ]:
#17  Write a code to clear all elements from the set {1, 2, 3, 4, 5}?
a={1,2,3,4,5}
a.clear()
print(a)

set()

In [ ]:
#18  Write a code to remove the element 4 from the set {1, 2, 3, 4}?
a={1,2,3,4}
a.remove(4)
print(a)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?
a={1,2,3}
b={3,4,5}
a|b

{1, 2, 3, 4, 5}

In [ ]:
#20  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?
a={1,2,3}
b={2,3,4}
a&b

{2, 3}

In [ ]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it?
a={"name":"seeraj dogra","age":20,"city":"Delhi"}
print(a)

{'name': 'seeraj dogra', 'age': 20, 'city': 'Delhi'}

In [ ]:
#22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?
a={'name':'john','age':25}
a["country"]="USA"
print(a)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [ ]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?
a={'name':'Alice','age':30}
a["name"]

{'name': 'Alice', 'age': 30}

In [ ]:
#24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?
a={'name':'Bob','age':22,'city':'New York'}
del a["age"]
a

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?
a={'name':'Alice','city':'Paris'}
print("city"in a)

True

In [ ]:
#26  Write a code to create a list, a tuple, and a dictionary, and print them all?
a=[1,2,3,4,5]
b=(2,3,4,5)
c={"a":2,"b":4}
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
(2, 3, 4, 5)
{'a': 2, 'b': 4}

In [ ]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)?
import random
a=random.sample(range(1,101),5)
a.sort()
print(a)

[15, 31, 52, 70, 99]

In [ ]:
#28  Write a code to create a list with strings and print the element at the third index?
a=["mohan","rohan","sohan","kohli","john"]
print(a[3])

kohli

In [ ]:
#29 Write a code to combine two dictionaries into one and print the result?
a={"name":"sohan"}
b={"age":11}
a.update(b)
print(a)

{'name': 'sohan', 'age': 11}

In [ ]:
#30 Write a code to convert a list of strings into a set?
a=["ram","lakhan","sam","om"]
b=set(a)
print(b)

{'lakhan', 'sam', 'om', 'ram'}